.profile__info {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    column-gap: 18px;
    row-gap: 16px;
    position: relative;
    align-items: baseline;
}

@media all and (max-width: 962px) {
    .profile__info {
        justify-items: center;
        margin-bottom: 36px;
        column-gap: 16px;
    }
}

@media all and (max-width: 654px) {
    .profile__info {
        row-gap: 14px;
        column-gap: 10px;
    }
}
