.header {
    padding: 45px 0 41px;
    position: relative;
    border-bottom: solid 1px rgba(84, 84, 84, 0.7);
    width: 100%;
}

@media all and (max-width: 962px) {
    .header {
        max-width: none;
    }
}

@media all and (max-width: 654px) {
    .header {
        padding: 28px 0 32px;
    }
}
