.popup_type_view-image {
    background-color: rgba(0, 0, 0, 0.9);
}

@media all and (max-width: 767px) {
    .popup_type_view-image {
        padding-left: 40px;
        padding-right: 40px;
    }
}
